<!-- <header>
    <label class="head">Library Management</label>
</header> -->

<div class="header">
    <a href="#default" class="logo">GroupOn Learning</a>
    <div class="header-right">
        <a href="http://www.twitter.com" target="_blank" title="Twitter"><img src="../assets/icons/twitter-48.png" class="dashIcon"></a>
        <a href="http://www.facebook.com" target="_blank" title="Facebook"><img src="../assets/icons/facebook-48.png" class="dashIcon"></a>
        <a href="http://www.gmail.com" target="_blank" title="Gmail"><img src="../assets/icons/google-48.png" class="dashIcon"></a>
        <a href="http://www.instagram.com" target="_blank" title="Instagram"><img src="../assets/icons/instagram-48.png" class="dashIcon"></a>
        <a target="_blank" title="mail"><img src="../assets/icons/mail-48.png" class="dashIcon"></a>
    </div>
  </div>






<!-- <div style="position: fixed;z-index: 10;">
    <div class="row" style="background-color: black;height:7%;">
      <div class="col-md-3" style="color:white;padding: 0px;">
        <img src="../assets/logo1.PNG" style="height: 7vh;">
      </div>
      <div class="col-md-6" style="margin-top: 2vh;text-align: center;">
        <div class="option" style="color: white;font-size: large;cursor: pointer;text-align: left;margin-left: 35%;">
          Powered by AI
        </div>
      </div>
      <div class="col-md-3" style="text-align: right;">
        <a href="http://www.twitter.com" target="_blank" title="Twitter"><img src="../assets/icons/twitter-48.png" class="dashIcon"></a>
        <a href="http://www.facebook.com" target="_blank" title="Facebook"><img src="../assets/icons/facebook-48.png" class="dashIcon"></a>
        <a href="http://www.gmail.com" target="_blank" title="Gmail"><img src="../assets/icons/google-48.png" class="dashIcon"></a>
        <a href="http://www.instagram.com" target="_blank" title="Instagram"><img src="../assets/icons/instagram-48.png" class="dashIcon"></a>
        <img src="../assets/icons/mail-48.png" class="dashIcon">
    </div>
    </div>
    <div class="row" style="background-color: white;height: 5vh;padding-left: 16vw;padding-top: 1vh;border-bottom: solid black;">
      <div class="option" style="color: black;font-size: large;cursor: pointer;text-align: left;margin-left: 4%;">
        About us
      </div>
      <div class="option" style="color: black;font-size: large;cursor: pointer;text-align: left;margin-left: 4%;">
        Projects
      </div>
      <div class="option" style="color: black;font-size: large;cursor: pointer;text-align: left;margin-left: 4%;">
        Careers
      </div>
      <div class="option" style="color: black;font-size: large;cursor: pointer;text-align: left;margin-left: 4%;">
        Contact Us
      </div>
    </div>
  </div> -->