<div class="header">
  <a href="#default" class="logo">GroupOn Learning</a>
  <div class="header-right">
    <a href="https://twitter.com/groupon?lang=en" target="_blank" title="Twitter"><img src="../assets/icons/twitter-48.png"
        class="dashIcon"></a>
    <a href="https://www.facebook.com/Groupon/" target="_blank" title="Facebook"><img src="../assets/icons/facebook-48.png"
        class="dashIcon"></a>
    <a href="http://www.gmail.com" target="_blank" title="Gmail"><img src="../assets/icons/google-48.png"
        class="dashIcon"></a>
    <a href="https://www.instagram.com/groupon/?hl=en" target="_blank" title="Instagram"><img src="../assets/icons/instagram-48.png"
        class="dashIcon"></a>
    <a href="mailto:shivamk2736@gmail.com" target="_blank" title="mail"><img src="../assets/icons/mail-48.png" class="dashIcon"></a>
  </div>
</div>